@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,600,700,900&subset=cyrillic,cyrillic-ext");
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

html {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.container {
  width: 87.49%;
  margin: 0 auto;
}

.fab, .fas {
  color: #8e8e8e;
  line-height: 27px;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.btn-withRoundBorder {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #fff;
  padding: 10px 20px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 50px;
}

.row-on-img {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  text-transform: uppercase;
  align-items: flex-end;
}

.row-on-img div {
  display: flex;
  align-items: center;
}

.row-on-img div .marg {
  margin-left: 10px;
}

.row-on-img div span {
  font-size: 15px;
  margin-right: 10px;
}

.row-on-img div img {
  height: 15px;
  width: 15px;
  margin: 0 5px;
}

.row-on-img div i {
  margin: 0 5px;
  height: 15px;
  width: 15px;
}

.play-btn {
  justify-content: center;
  display: flex;
  width: 100%;
  height: 92%;
  align-items: center;
}

.play-btn a {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.play-btn a i {
  font-size: 50px;
  color: #fff;
}

.grey-border {
  width: 100%;
  height: 0.5px;
  border-top: 1px solid #e0e0e0;
}

.under-border {
  display: flex;
  height: 100%;
}

.main-section-underText {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  padding-left: 15px;
  padding-right: 15px;
}

.main-section-underText div {
  display: flex;
  align-items: center;
}

.main-section-underText div img {
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

.main-section-underText div div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-section-underText div div .name {
  font-size: 14px;
}

.main-section-underText div div .time-for-post {
  font-size: 12px;
  line-height: 27px;
  color: #979696;
}

.main-section-underText div div span {
  margin: 0 10px;
}

.main-section-underText .fa-ellipsis-v {
  color: black;
  font-size: 18px;
}

.main-section-title {
  margin-left: 10px;
  opacity: .8;
  line-height: 1.5;
  padding-top: 5px;
}

.main-section-title .main-text {
  font-size: 18px;
  font-weight: bold;
  line-height: 1 !important;
}

.main-section-title p {
  font-size: 16px;
  margin: 0;
}

.blue-title {
  color: #3f51b5;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 7px;
}

.blue-border {
  width: 100%;
  height: 1px;
  border-top: 1px solid #aec3ff;
  margin-bottom: 16px;
}

.facebook {
  background: #3b5999;
}

.tweeter {
  background: #55acee;
}

.vk {
  background: #4c75a3;
}

.pinterest {
  background: #ff2e56;
}

.tumblr {
  background: #34465d;
}

.ball {
  background: #ea4c89;
}

@media (min-width: 701px) {
  .hiddenOnPC {
    display: none;
  }
  .hidden-text {
    display: none !important;
  }
}

@media (max-width: 700px) {
  .blue-title {
    color: #fff;
    margin-bottom: 20px;
  }
  .hidden {
    display: none !important;
  }
  .blue-border {
    display: none;
  }
}

.over-nav {
  background-color: #191919;
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.rowOverNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rowOverNav .icon-wrap a {
  margin: 0 5px;
}

.rowOverNav .signIn-lang {
  display: flex;
}

.rowOverNav .signIn-lang span {
  color: #fff;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  opacity: 0.5;
}

.rowOverNav .signIn-lang i {
  margin: 0 6px;
}

.vertical-line {
  width: 0.5px;
  height: 22px;
  border-left: 2px solid #545454;
  margin-left: 15px;
  margin-right: 9px;
  margin-top: 2px;
}

.logo {
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  z-index: 3;
}

.logo span {
  color: #fff;
}

.rowNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
}

.menu {
  width: 60%;
  position: absolute;
  top: 59px;
  left: 20%;
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}

.menu i {
  margin-left: 5px;
  margin-right: 10px;
}

.menu li.menu-item a {
  min-width: 75px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 14px;
  z-index: 1;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.menu li.menu-item a:hover {
  text-decoration: none;
}

.menu .drop-down {
  color: #fff;
  min-width: 75px;
  display: none;
  padding-top: 10px;
}

.menu .drop-down li {
  margin: 5px 5px;
}

.menu .drop-down li a {
  color: #CFCFCF;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.menu .drop-down li a:hover {
  color: #ff4081;
}

hr {
  position: absolute;
  height: 4px;
  width: 0;
  z-index: 1;
  margin-top: 35px;
  background: #ff4081;
  border: none;
  transition: all 250ms;
}

.header-bg {
  background: url("../img/header-bg.png") no-repeat center top;
  min-height: 800px;
  margin-top: -75px;
  position: relative;
}

.header-bg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(to left, rgba(33, 33, 33, 0.85), rgba(33, 33, 33, 0.85));
}

.menu-btn {
  display: block;
  width: 45px;
  height: 45px;
  background: transparent;
  position: relative;
  z-index: 3;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  height: 2px;
  width: 18px;
  background: #fff;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -9px;
}

.menu-btn span::before,
.menu-btn span::after {
  content: '';
  display: block;
  transition: 0.2s;
}

.menu-btn span::before {
  transform: translateY(-5px);
}

.menu-btn span::after {
  transform: translateY(5px);
}

.menu-btn_active span {
  height: 0;
}

.menu-btn_active span::before {
  transform: rotate(45deg);
}

.menu-btn_active span::after {
  transform: rotate(-45deg);
}

.nav-icon-color {
  color: #f6f5f5;
}

.iconAfter-nav {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.iconAfter-nav i {
  color: #fff;
  font-size: 18px;
}

.iconAfter-nav .vertical-border {
  height: 30px;
  width: 1px;
  border: 1px solid #5c5c5c;
  margin: 0 10px;
}

.slider-left {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 55%;
  color: #fff;
  margin: 0 25px;
}

.slider-right {
  position: absolute;
  z-index: 2;
  bottom: 55%;
  right: 0;
  color: #fff;
  margin: 0 25px;
}

.header-title {
  display: flex;
  padding-top: 200px;
  height: 600px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.header-title .over-mainTitle {
  margin-top: 200px;
  font-size: 28px;
  line-height: 27px;
  text-transform: uppercase;
  color: #cfcfcf;
  display: block;
}

.header-title .main-title {
  font-size: 42px;
  text-transform: uppercase;
  color: #fff;
  display: block;
  text-align: center;
}

.header-title .hmb {
  margin-bottom: 80px;
}

.header-title .face-header {
  border-radius: 50px;
  margin-bottom: 15px;
}

.header-title .title-aboutFace {
  font-size: 14px;
  line-height: 27px;
  color: #fff;
  font-weight: bold;
  text-transform: capitalize;
}

.header-title .under-date {
  margin-top: 30px;
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 27px;
  color: #cfcfcf;
}

.header-title .under-date img {
  margin: 0 7px;
}

.header-title .under-date i {
  font-size: 16px;
  margin: 0 8px;
}

.header-title .under-date .m-under-d {
  margin-left: 15px;
  margin-right: 8px;
}

@media (max-width: 1050px) {
  .hidden1050 {
    display: none;
  }
  .margin1050 {
    margin: 0 5px;
  }
}

@media (max-width: 970px) {
  .hidden970 {
    display: none;
  }
}

@media (min-width: 941px) {
  .menu-btn {
    display: none;
  }
}

@media (max-width: 940px) {
  nav {
    display: flex;
  }
  .menu {
    position: absolute;
    left: 5%;
    top: 0;
    display: none;
    width: 90%;
    flex-direction: row;
    margin-top: 100px;
  }
  .circle-red {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #ff3c81;
    margin-bottom: 50%;
    color: #fff;
  }
  .main-title {
    font-size: 35px !important;
  }
  .over-mainTitle {
    font-size: 24px !important;
  }
}

@media (max-width: 775px) {
  .main-title {
    font-size: 31px !important;
  }
  .over-mainTitle {
    font-size: 22px !important;
  }
}

@media (max-width: 725px) {
  .menu-item a {
    font-size: 13px !important;
  }
}

@media (max-width: 700px) {
  .over-nav {
    background-color: #333399;
  }
  .signIn-lang {
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
  }
  .nav-bg {
    background: #3366cc;
    height: 70px;
    display: flex;
    align-items: center;
  }
  .menu {
    position: absolute;
    min-height: 250px;
    height: 87vh;
    top: 0;
    left: 0;
    margin-top: 108.5px;
    padding-top: 20px;
    padding-bottom: 25%;
    width: 100%;
    flex-direction: column;
    background: #3366cc;
    transition: 0.3s;
  }
  .menu ul li {
    display: flex;
    justify-content: center;
  }
  .menu ul li a {
    font-size: 14px !important;
    width: 135px;
  }
  .menu ul li a:hover {
    color: #ff4081;
  }
  .menu .drop-down {
    position: relative;
    padding-top: 0;
  }
  .menu .drop-down li a {
    padding: 2.5px 15px;
    font-size: 12px !important;
  }
  hr {
    display: none;
  }
}

.sort-blog {
  height: 70px;
  display: flex;
  align-items: center;
}

.sort-blogPC {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sort-blogPC span {
  font-size: 16px;
  line-height: 27px;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 12px;
}

.sort-blogPC .sort-btn {
  display: block;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 16px;
  color: #000;
  padding: 10px 30px;
  margin: 0 8px;
  background: #f5f5f5;
}

.sort-blogPC .sort-btn_active {
  background: transparent;
  border: 1px solid #3f51b5;
  color: #3f51b5;
}

.sort-blogMP {
  display: none;
}

@media (max-width: 1027px) {
  .sort-btn {
    padding: 7px 20px !important;
  }
}

@media (max-width: 912px) {
  .sort-btn {
    font-size: 14px;
    padding: 5px 15px !important;
  }
  .sort-blogPC span {
    font-size: 14px;
  }
}

@media (max-width: 839px) {
  .sort-blogPC {
    display: none;
  }
  .sort-blogMP {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding-left: 20px;
    font-size: 18px;
  }
  .sort-blogMP .sort-btnMP {
    width: 50px;
    height: 48px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-left: 1px solid #e0e0e0;
    background: #eee;
  }
  .sort-blogMP .sort-btnMP a {
    display: flex;
    justify-content: space-around;
    height: 24px;
  }
  .sort-blogMP .sort-btnMP a:active {
    background: #c1c1c1;
  }
  .sort-blogMP .sort-btnMP a .fa-sort-up {
    margin-top: 7px;
  }
  .sort-blogMP .sort-btnMP a .fa-sort-down {
    margin-top: -8px;
  }
}

.bg-main_section {
  background-color: #f5f5f5;
  min-height: 100%;
  position: relative;
}

.main-section {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-left-col {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.main-left-col .main-section1 {
  background: white;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}

.main-section1-bg {
  background: url("../img/video1.png") no-repeat center top/cover;
  width: 100%;
  height: 420px;
  display: flex;
  flex-direction: column;
  border-radius: 5px 5px 0 0;
}

.main-section2 {
  margin-top: -10px;
  width: 100%;
}

.main-section2 .main-section2-bg {
  display: flex;
  flex-direction: row;
  background: white;
  width: 100%;
  min-height: 100px;
  margin: 20px 0;
  border-radius: 5px;
}

.main-section2 .main-section2-bg .sec2 {
  display: flex;
  flex-direction: column;
  width: 68.3%;
}

.main-section2 .main-section2-bg .main-section2-bg1 {
  background: url("../img/main-sec2-1.png") no-repeat center top/cover;
  height: auto;
  width: 31.7%;
  border-radius: 5px 0 0 5px;
}

.main-section2 .main-section2-bg .main-section2-bg2 {
  background: url("../img/main-sec2-2.png") no-repeat center top/cover;
  height: auto;
  width: 31.7%;
  border-radius: 5px 0 0 5px;
}

.main-section2 .main-section2-bg .main-section2-bg3 {
  background: url("../img/main-sec2-3.png") no-repeat center top/cover;
  height: auto;
  width: 31.7%;
  border-radius: 5px 0 0 5px;
}

.main-section2 .hid-sec2-bg1 {
  background: url("../img/main-sec3-1.png") no-repeat center top/cover;
  height: 165px;
  width: 46.5%;
  min-width: 130px;
  display: none;
  margin-top: 10px;
  border-radius: 5px;
}

.main-section2 .hid-sec2-bg2 {
  background: url("../img/main-sec3-1.png") no-repeat center top/cover;
  height: 165px;
  width: 46.5%;
  min-width: 130px;
  display: none;
  margin-top: 10px;
  border-radius: 5px;
}

.main-section3 {
  margin-bottom: 20px;
  width: 100%;
  min-height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-section3 .main-section3-col {
  width: 31.7%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  background: white;
  margin-bottom: 20px;
  border-radius: 5px;
}

.main-section3 .main-section3-col .main-text {
  font-size: 16px !important;
}

.main-section3 .main-section3-col .hidden420 {
  font-size: 15px;
}

.main-section3 .main-section3-col .main-section3-bg1 {
  background: url("../img/main-sec3-1.png") no-repeat center top/cover;
  height: 160px;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.main-section3 .main-section3-col .main-section3-bg2 {
  background: url("../img/main-sec3-2.png") no-repeat center top/cover;
  height: 160px;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.main-section3 .main-section3-col .main-section3-bg3 {
  background: url("../img/main-sec3-3.png") no-repeat center top/cover;
  height: 160px;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.over-sec3-bg {
  background: url("../img/over-sec3.png") no-repeat center/cover;
  width: 100%;
  height: 287px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.main-section4 {
  margin-top: -20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.main-section4 .main-section4-col {
  width: 48.78%;
  display: flex;
  flex-direction: column;
  background: white;
  min-height: 100px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.main-section4 .main-section4-col .main-section4-bg1 {
  background: url("../img/main-sec4-1.png") no-repeat center left/cover;
  height: 300px;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.main-section4 .main-section4-col .main-section4-bg2 {
  background: url("../img/main-sec4-2.png") no-repeat center top/cover;
  height: 300px;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.sec4-between {
  background: url("../img/sec4-betwen.png") no-repeat center bottom/cover;
  height: 264px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.btn-more {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.btn-more .btn-more-title {
  font-size: 16px;
  color: #303f9f;
  margin-right: 10px;
}

.btn-more .btn-more-icon {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-more .btn-more-icon i {
  color: #303f9f;
}

.main-right-col {
  display: flex;
  width: 27%;
  background-color: #fff;
  border-radius: 5px 0 0 0;
  padding-top: 25px;
  padding-left: 40px;
  position: relative;
  z-index: 1;
  flex-direction: column;
}

.bg-main-right-col {
  background-color: #fff;
  min-height: 98.6%;
  width: 6.255%;
  position: absolute;
  right: 0;
  top: 30px;
}

.hidden-text {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.hidden-text span {
  font-size: 24px;
  font-weight: bold;
}

.hidden-text p {
  font-size: 16px;
  opacity: .5;
}

.hidden-text .hidden-btn {
  font-size: 16px;
  font-weight: 500;
  background: #303030;
  opacity: .7;
}

.search-form {
  width: 100%;
  position: relative;
}

.search-input {
  width: 100%;
  border-radius: 22px;
  height: 40px;
  background-color: #f5f5f5;
  border: none;
  padding-left: 20px;
  font-size: 16px;
  color: #b4b4b4;
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: #ff3f81;
  border-radius: 22px;
  position: absolute;
  top: 2.5px;
  right: 3px;
}

.search-btn i {
  color: #fff;
}

.categories-content {
  padding-bottom: 15px;
}

.categories-content .categories-number {
  font-weight: bold;
}

.categories-content .grey-border {
  margin: 12px 0;
}

.categories-content div {
  display: flex;
  justify-content: space-between;
}

.categories-content div span {
  font-size: 16px;
  color: #000000;
  opacity: .87;
}

.subscribe form #label1 {
  margin-bottom: 17px;
}

.subscribe form #label2 {
  margin-bottom: 10px;
}

.subscribe form input {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  border: 1px solid #afafaf;
  font-size: 16px;
  color: #000;
  opacity: .38;
  padding-left: 15px;
  margin-top: 15px;
}

.subscribe form label {
  display: block;
}

.subscribe form label span {
  font-size: 16px;
  opacity: .87;
}

.subscribe form .btn-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45px;
  background: #3f51b5;
  font-size: 22px;
  text-transform: uppercase;
  border-radius: 5px;
  color: #fff;
  margin-bottom: 20px;
}

.subscribe .text-around-line {
  overflow: hidden;
  position: relative;
  margin: 0;
  text-align: center;
  white-space: nowrap;
}

.subscribe .text-around-line span {
  padding: 0 5px;
}

.subscribe .text-around-line:before,
.subscribe .text-around-line:after {
  content: '';
  display: inline-block;
  position: relative;
  top: -1px;
  width: 45.5%;
  height: 1px;
  vertical-align: middle;
  background: #757575;
}

.subscribe .social-line {
  margin-top: 20px;
}

.subscribe .social-line .social-line-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
}

.subscribe .social-line a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 18px;
}

.subscribe .social-line a .fab {
  color: #fff;
}

.subscribe .social-line a .fas {
  color: #fff;
}

.two-btn-together {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.two-btn-together a {
  display: flex;
  width: 50%;
  height: 40px;
  align-items: center;
  justify-content: center;
  border: 1px solid #3f51b5;
  color: #3f51b5;
  text-transform: uppercase;
  font-size: 15px;
}

.two-btn-together .btn-together-active {
  background: #3f51b5;
  color: #fff;
}

.two-btn-together .first-btn {
  border-radius: 5px 0 0 5px;
}

.two-btn-together .second-btn {
  border-radius: 0 5px 5px 0;
}

.post-widget {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 15px 0;
}

.post-widget .post-widget-img {
  width: 40%;
  height: 80px;
}

.post-widget .post-widget-img img {
  width: 100%;
  height: 80px;
  border-radius: 3px;
}

.post-widget .post-widget-content {
  width: 60%;
  padding-left: 15px;
}

.post-widget .widget-content1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
  align-items: center;
}

.post-widget .widget-content1 span {
  font-size: 12px;
  opacity: .87;
}

.post-widget .widget-content2 span {
  font-size: 14px;
  font-weight: bold;
}

.tags .tags-row {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tags .tags-row .hidden-tags {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tags .tags-btn {
  display: inline-flex;
  padding: 0 18px;
  min-width: 60px;
  height: 35px;
  background: #eee;
  align-items: center;
  justify-content: center;
  color: #767676;
  font-size: 14px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

.flicker {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 35px;
}

.flicker .flicker-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.flicker .flicker-row img {
  width: 46.42%;
  margin-bottom: 20px;
  border-radius: 5px;
}

@media (max-width: 1350px) {
  .hidden-text1 {
    display: none !important;
  }
  .main-section-title p {
    padding-bottom: 5px;
  }
  .main-section-title .main-section-underText {
    margin: 0 !important;
  }
}

@media (max-width: 1300px) {
  .hid1300 {
    display: none;
  }
}

@media (max-width: 1250px) {
  .text-around-line:before,
  .text-around-line:after {
    width: 44% !important;
  }
}

@media (max-width: 1150px) {
  .hid1150 {
    display: none;
  }
  .social-line-row {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .social-line-row a {
    margin-bottom: 7px;
  }
}

@media (max-width: 1100px) {
  .hidden1100 {
    display: none;
  }
  .main-section3 .main-section-underText {
    padding-left: 0;
  }
  .social-line {
    flex-direction: column !important;
  }
  .widget-content2 span {
    font-size: 12px !important;
  }
  .text-around-line:before,
  .text-around-line:after {
    width: 43.5% !important;
  }
}

@media (min-width: 701px) and (max-width: 1085px) {
  .main-section2 .row-on-img {
    height: 40px;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: -10px;
    align-items: flex-start;
  }
  .main-section2 .row-on-img .marg {
    margin-left: 10px;
  }
  .main-section2 .row-on-img span {
    margin-right: 10px;
  }
  .main-section2 .row-on-img img {
    margin-left: 10px;
  }
  .main-section3 .row-on-img {
    height: 40px;
    margin-top: -10px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .main-section3 .row-on-img .marg {
    margin-left: 10px;
  }
  .main-section3 .row-on-img span {
    margin-right: 10px;
  }
  .main-section3 .row-on-img img {
    margin-left: 10px;
  }
}

@media (max-width: 1050px) {
  .text-around-line:before,
  .text-around-line:after {
    width: 43% !important;
  }
}

@media (max-width: 1000px) {
  .widget-content2 span {
    font-size: 11px !important;
  }
}

@media (max-width: 950px) {
  .text-around-line:before,
  .text-around-line:after {
    width: 42.5% !important;
  }
}

@media (max-width: 932px) {
  .main-section-title {
    line-height: 1.4;
  }
  .hid932 {
    display: none;
  }
}

@media (max-width: 896px) {
  .main-section-title .main-text {
    font-size: 16px;
  }
  .btn-together {
    font-size: 13px !important;
  }
  .categories-content div span {
    font-size: 14px !important;
  }
  .hid896 {
    display: none;
  }
}

@media (max-width: 896px) and (max-width: 1050px) {
  .text-around-line:before,
  .text-around-line:after {
    width: 42% !important;
  }
}

@media (max-width: 801px) {
  .main-section-title {
    padding-top: 2px;
    line-height: 1.3;
  }
  .main-section-title p {
    font-size: 15px;
  }
  .text-around-line:before,
  .text-around-line:after {
    width: 41% !important;
  }
}

@media (max-width: 785px) {
  .btn-together {
    font-size: 12px !important;
  }
  .btn-subscribe {
    font-size: 18px !important;
  }
  .post-widget-content {
    padding-left: 5px !important;
  }
}

@media (max-width: 750px) {
  .hid750 {
    display: none !important;
  }
  .categories-content div span {
    font-size: 13px !important;
  }
  .text-around-line:before,
  .text-around-line:after {
    width: 40% !important;
  }
}

@media (max-width: 700px) {
  .main-section1-bg {
    height: 280px !important;
  }
  .main-section {
    flex-direction: column;
    padding-top: 20px;
  }
  .main-section .main-left-col {
    width: 100%;
  }
  .main-section .main-right-col {
    width: 100%;
    background-color: #212121;
    height: 1350px;
    border-radius: 0;
    padding-left: 0;
    flex-direction: column;
  }
  .bg-main-right-col {
    display: none;
  }
  .bg-main-right-col2 {
    width: 6.55%;
    bottom: 0;
    background: #212121;
    position: absolute;
    min-height: 1350px;
    right: 0;
  }
  .bg-main-right-col1 {
    width: 6.53%;
    background: #212121;
    position: absolute;
    left: 0;
    bottom: 0;
    min-height: 1350px;
  }
  .sec2-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .sec2-col {
    display: flex;
    flex-direction: column !important;
    width: 46.5% !important;
  }
  .main-section2 {
    margin-top: 0;
  }
  .main-section2-bg1 {
    width: 46.5% !important;
  }
  .main-section2-bg1 .play-btn {
    height: 83% !important;
  }
  .main-section2-bg1 .play-btn a {
    display: none;
  }
  .sec2 {
    width: auto !important;
  }
  .main-section2-bg2 {
    width: auto !important;
    height: 165px !important;
    border-radius: 5px 5px 0 0 !important;
  }
  .main-section2-bg3 {
    width: auto !important;
    height: 165px !important;
    border-radius: 5px 5px 0 0 !important;
  }
  .sec2-title1 {
    width: 53.5% !important;
  }
  .hid-sec2-bg1 {
    display: flex !important;
    position: relative;
  }
  .hid-sec2-bg2 {
    display: flex !important;
    position: relative;
  }
  .main-section2-bg {
    margin: 10px 0 !important;
  }
  .sec2-pos {
    margin-top: -149.6px !important;
  }
  .height-on-img {
    height: 83% !important;
    display: flex;
  }
  .main-section-underText {
    padding-left: 7px !important;
  }
  .main-section-underText span {
    margin: 0 5px !important;
  }
  .main-section3 {
    flex-direction: column;
    width: 100%;
  }
  .main-section3 .main-section3-col {
    width: 100%;
    flex-direction: row;
  }
  .main-section3 .main-section3-col .main-section3-bg1 {
    width: 46.5%;
    height: auto !important;
    border-radius: 5px 0 0 5px !important;
  }
  .main-section3 .main-section3-col .main-section3-bg1 .play-btn a {
    display: none;
  }
  .main-section3 .main-section3-col .main-section3-bg2 {
    width: 46.5%;
    height: auto !important;
    border-radius: 5px 0 0 5px !important;
  }
  .main-section3 .main-section3-col .main-section3-bg3 {
    display: none;
  }
  .main-section3 .main-section3-col .sec3-3 {
    display: none;
  }
  .main-section3 .main-section3-col .sec3 {
    width: 53.5%;
  }
  .main-section4 {
    flex-direction: column;
    margin-top: -40px !important;
  }
  .main-section4 .main-section4-col {
    width: 100%;
  }
  .main-section4 .row-on-img {
    height: 20%;
    align-items: flex-start;
    padding-top: 10px;
  }
  .main-section4 .height-on-img {
    height: 0;
  }
  .categories-content span {
    color: #afafaf !important;
    opacity: 1 !important;
  }
  .tags-btn {
    background: transparent !important;
    border: 1px solid #9394a1;
    color: #afafaf !important;
  }
  .categories-content div span {
    font-size: 16px !important;
  }
}

@media (max-width: 614px) {
  .sec2-pos {
    margin-top: -168.6px !important;
  }
  .hid614 {
    display: none;
  }
}

@media (max-width: 536px) {
  .hidden-text2 {
    display: none !important;
  }
  .sec2-pos {
    margin-top: -149.6px !important;
  }
}

@media (max-width: 525px) {
  .main-section1-bg {
    height: 240px !important;
  }
  .main-section2 .row-on-img {
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-bottom: 8px;
  }
  .main-section2 .row-on-img .marg {
    margin-left: 10px;
  }
  .main-section2 .row-on-img span {
    margin-right: 10px;
  }
  .main-section2 .row-on-img img {
    margin-left: 10px;
  }
  .main-section3 .row-on-img {
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-bottom: 8px;
  }
  .main-section3 .row-on-img .marg {
    margin-left: 10px;
  }
  .main-section3 .row-on-img span {
    margin-right: 10px;
  }
  .main-section3 .row-on-img img {
    margin-left: 10px;
  }
  .height-on-img {
    height: 0 !important;
  }
  .main-section4 .height-on-img {
    height: 80% !important;
  }
  .main-section3-bg1 .play-btn {
    height: 0 !important;
  }
  .main-section2-bg1 .play-btn {
    height: 0 !important;
  }
  .main-section-title {
    margin-left: 7px;
    padding-top: 5px;
  }
  .main-section-title .main-text {
    font-size: 16px;
  }
  .main-section-title p {
    font-size: 14px;
    padding-bottom: 5px;
  }
  .main-section-underText {
    padding-left: 5px;
    margin: 5px 0;
  }
  .over-sec3-bg {
    height: 180px;
  }
  .hid525 {
    display: none;
  }
  .main-section4-bg1 {
    height: 180px !important;
  }
  .main-section4-bg2 {
    height: 180px !important;
  }
  .sec4-between {
    height: 180px !important;
  }
  .main-right-col {
    height: 1400px !important;
  }
  .bg-main-right-col1 {
    height: 1400px !important;
  }
  .bg-main-right-col2 {
    height: 1400px !important;
  }
}

@media (max-width: 461px) {
  .hid461 {
    display: none;
  }
}

@media (max-width: 420px) {
  .main-section1-bg {
    height: 180px !important;
    width: 100%;
  }
  .main-section2-bg1 {
    min-width: 130px;
    height: 120px !important;
  }
  .main-section2-bg2 {
    min-width: 130px;
    height: 120px !important;
  }
  .main-section2-bg3 {
    min-width: 130px;
    height: 120px !important;
  }
  .hid-sec2-bg1 {
    height: 120px !important;
  }
  .hid-sec2-bg2 {
    height: 120px !important;
  }
  .sec2-pos {
    margin-top: -90.6px !important;
  }
  .main-section-title .main-text {
    font-size: 15px;
  }
  .main-section-underText {
    padding-left: 3px;
    margin: 5px 0;
  }
  .hidden420 {
    display: none;
  }
  .flicker-row img {
    height: 150px !important;
  }
}

@media (max-width: 365px) {
  .main-section-underText {
    padding-right: 10px;
  }
  .main-section-underText div .name {
    font-size: 12px !important;
  }
  .main-section-underText div .time-for-post {
    font-size: 11px !important;
  }
  .main-section-underText .fa-ellipsis-v {
    font-size: 16px;
  }
  .sec2-pos {
    margin-top: -87.6px !important;
  }
}

@media (max-width: 358px) {
  .main-section-title .main-text {
    font-size: 14px;
  }
  .main-section-title p {
    font-size: 13px;
  }
}

@media (max-width: 335px) {
  .hid335 {
    display: none !important;
  }
  .main-section2-bg1 {
    min-width: 120px;
    height: 105px !important;
  }
  .main-section2-bg2 {
    min-width: 120px;
    height: 105px !important;
  }
  .main-section2-bg3 {
    min-width: 120px;
    height: 105px !important;
  }
  .hid-sec2-bg1 {
    min-width: 120px !important;
    height: 105px !important;
  }
  .hid-sec2-bg2 {
    min-width: 120px !important;
    height: 105px !important;
  }
  .flicker-row img {
    height: 130px !important;
  }
  .tags-btn {
    margin-left: 0 !important;
    margin-right: 8px !important;
    padding: 0 17px !important;
  }
}

.row-img {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.row-img img {
  width: 12.5%;
  height: 12.5%;
}

.bg-subscribe {
  background: url("../img/bg-subscribe.png") no-repeat center;
  width: 100%;
  min-height: 200px;
  margin-top: -2px;
}

.subscribe-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}

.subscribe-row div span {
  font-size: 42px;
  color: white;
  font-weight: bold;
}

.subscribe-row div form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.subscribe-row div form input {
  padding-left: 15px;
  height: 45px;
  border-radius: 22px;
  background-color: rgba(47, 47, 47, 0.22);
  border: 1px solid #747678;
  color: #acacad;
  font-size: 16px;
  width: 270px;
  margin-right: 15px;
}

.subscribe-row div form a {
  background-color: #303f9f;
  font-weight: 500;
  margin-left: 15px;
}

@media (max-width: 1250px) {
  .subscribe-row div span {
    font-size: 38px;
  }
}

@media (max-width: 1200px) {
  .subscribe-row {
    padding-top: 35px;
    flex-direction: column;
    justify-content: space-around;
    height: 170px;
  }
}

.bg-last-section {
  background-color: #212121;
  width: 100%;
  min-height: 500px;
}

.last-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 45px;
  flex-wrap: wrap;
}

.last-row .last-row-width {
  height: auto;
  width: 280px;
}

.last-row .last-row-width .white-title {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.plus-btn_mt {
  margin-top: 30px;
}

.plus-btn_mb {
  margin-bottom: 5px;
}

.plus-btn-item {
  width: 100%;
  height: 45px;
  display: flex;
  position: relative;
  border: 1px solid #8e8e8e;
  border-radius: 3px;
  align-items: center;
  justify-content: space-between;
}

.plus-btn-item p {
  font-size: 14px;
  color: #fff;
  opacity: .7;
  padding-left: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.plus-btn-item span,
.plus-btn span::after {
  position: absolute;
  height: 2px;
  width: 16px;
  background: #fff;
  right: 10px;
  z-index: 3;
}

.plus-btn-item span::after {
  content: '';
  display: flex;
  transition: 0.7s;
}

.plus-btn-item span::after {
  transform: rotate(90deg);
  position: absolute;
  right: 0;
}

.plus-btn_active span::after {
  transform: rotate(-360deg);
}

.plus-btn_active {
  border-radius: 3px 3px 0 0;
}

.plus-drop-down {
  list-style: none;
  display: none;
  border-left: 1px solid #8e8e8e;
  border-bottom: 1px solid #8e8e8e;
  border-right: 1px solid #8e8e8e;
  border-radius: 0 0 3px 3px;
}

.plus-drop-down ul {
  padding-top: 5px;
}

.plus-drop-down ul li {
  margin: 10px 0;
}

.plus-drop-down ul li a {
  padding-left: 15px;
  font-size: 14px;
  color: #727272;
}

.plus-drop-down ul li a:hover {
  color: #ff4081;
}

.twit-widget {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.twit-widget span {
  font-size: 14px;
  color: white;
  opacity: .7;
}

.twit-widget i {
  color: #55acee;
  margin-right: 10px;
  margin-left: 7px;
}

.twit-widget-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: #fff;
  opacity: .5;
}

.twit-widget-post a {
  text-decoration: none;
  color: #fff;
}

.soc-widget-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.soc-widget-row a {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.soc-widget-row a .fas {
  color: #fff;
}

.soc-widget-row a .fab {
  color: white;
}

.flic-wid-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flic-wid-img img {
  width: 85px;
  height: 85px;
  margin: 4px 4px;
}

.form-widget input {
  height: 45px;
  width: 100%;
  background: transparent;
  border: 1px solid #757575;
  border-radius: 5px;
  padding-left: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #757575;
}

.form-widget textarea {
  width: 100%;
  background: transparent;
  border: 1px solid #757575;
  border-radius: 5px;
  color: #757575;
  padding-left: 15px;
  padding-top: 5px;
  font-size: 14px;
  margin-bottom: 10px;
}

.form-widget a {
  height: 40px;
  width: 100%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #303030;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
  margin-bottom: 30px;
}

@media (max-width: 1200px) {
  .last-row-width {
    margin-right: 15px !important;
  }
}

@media (max-width: 775px) {
  .last-row {
    justify-content: space-between;
  }
  .last-row-width {
    margin-right: 0 !important;
    width: 279px !important;
  }
}

.bg-footer {
  background-color: #303030;
  min-height: 80px;
}

.footer-nav {
  display: flex;
  align-items: center;
  height: 80px;
  flex-direction: row;
  justify-content: space-between;
}

.footer-nav div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 35%;
}

.footer-nav .footer-lang {
  font-size: 16px;
  color: #787878;
  text-transform: uppercase;
  font-weight: 500;
}

.footer-nav .footer-lang span {
  margin-left: 8px;
  margin-right: 5px;
}

.footer-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 55.55%;
}

.footer-nav li {
  font-size: 14px;
}

.footer-nav li a {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.footer-nav li a:hover {
  color: #ff4081;
}

.footer-nav form {
  position: relative;
}

.footer-nav form label input {
  width: 220px;
  height: 35px;
  border-radius: 22px;
  padding-left: 20px;
  background: transparent;
  border: 1px solid #7f7f7f;
  font-size: 14px;
  color: #787878;
}

.footer-nav form label a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 31px;
  height: 31px;
  border-radius: 22px;
  position: absolute;
  right: 8px;
  top: 2px;
}

.footer-phone {
  width: 100%;
  padding-bottom: 35px;
}

.footer-phone div {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 35px;
}

.footer-phone span {
  color: #949494;
  font-size: 14px;
}

@media (max-width: 1050px) {
  .footer-nav {
    padding-top: 15px;
    height: 125px;
    flex-direction: column;
    justify-content: space-around;
  }
  .footer-nav div {
    width: 52.5%;
  }
  .footer-nav ul {
    width: 100%;
    justify-content: space-around;
    padding-bottom: 10px;
  }
}
